<ion-header>
  <ion-toolbar color="primary">
    <ion-title class=" ion-text-center" style="color: white;">Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Formulaire de connexion -->
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="submit()">

    <ion-item class="item">
      <ion-input placeholder="Email" type="email" formControlName="email">
      </ion-input>
      <ion-icon name="mail-outline"></ion-icon>
    </ion-item>

    <ion-item class="item">
      <ion-input placeholder="Mot de passe" [type]="passwordVisible ? 'text': 'password'" formControlName="password">
      </ion-input>
      <ion-icon [name]="passwordVisible ? 'eye-off-outline' : 'eye-outline'" slot="end"
        (click)="togglePasswordVisibility()">
      </ion-icon>
    </ion-item>

    <p class="error" *ngIf="error">{{ error }}</p>

    <ion-button expand="block" type="submit" [disabled]="form.invalid">
      Se connecter
      <ion-icon slot="end" name="login-outline"></ion-icon>
    </ion-button>

  </form>

  <!-- Mot de passe oublié -->
  <ion-text class="forgot" >
    <a>Mot de passe oublié ?</a>
  </ion-text>

  <!-- Créer un compte -->
  <ion-button expand="full" fill="outline" (click)="navigateCreateAccount()">
    <ion-icon slot="start" name="person-add-outline"></ion-icon>
    Créer un compte
  </ion-button>

  <!-- Connexion sociale -->
  <div class="social">
    <ion-button fill="clear">
      <ion-icon name="logo-google"></ion-icon>
    </ion-button>

    <ion-button fill="clear">
      <ion-icon name="logo-github"></ion-icon>
    </ion-button>

    <ion-button fill="clear">
      <ion-icon name="logo-facebook"></ion-icon>
    </ion-button>
  </div>

</ion-content>