<ion-header translucent>
  <ion-toolbar color="primary">
    <!-- Flèche retour -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="bus-outline"></ion-icon>
      Réservation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="page-bg">

  <!-- FORMULAIRE -->
  <ion-card class="form-card ion-padding">
    <ion-list lines="none">

      <ion-item>
        <ion-icon slot="start" name="location-outline"></ion-icon>
        <ion-label>Ville de départ</ion-label>
        <ion-select [(ngModel)]="reservationData.VilleDepart" (ionChange)="updateDateReservation()"
          placeholder="Choisir">
          <ion-select-option *ngFor="let ville of villesNiger" [value]="ville">
            {{ ville }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="location-outline"></ion-icon>
        <ion-label>Ville d’arrivée</ion-label>
        <ion-select [(ngModel)]="reservationData.VilleArrivee" (ionChange)="updateDateReservation()"
          placeholder="Choisir">
          <ion-select-option *ngFor="let ville of villesNiger" [value]="ville">
            {{ ville }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="calendar-outline"></ion-icon>
        <ion-label>Date départ</ion-label>
        <ion-input type="date" [(ngModel)]="reservationData.DateDepart" (ionChange)="updateDateReservation()">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="star-outline"></ion-icon>
        <ion-label>Type</ion-label>
        <ion-select [(ngModel)]="reservationData.typeReservation" (ionChange)="updateMontant()">
          <ion-select-option *ngFor="let type of typesReservation" [value]="type">
            {{ type }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="cash-outline"></ion-icon>
        <ion-label>
          Montant :
          <strong>{{ reservationData.montant }} FCFA</strong>
        </ion-label>
      </ion-item>

    </ion-list>

    <ion-button expand="block" shape="round" class="main-btn" (click)="saveReservation()">
      <ion-icon slot="start" name="save-outline"></ion-icon>
      {{ editMode ? 'Modifier' : 'Créer' }}
    </ion-button>
  </ion-card>

  <!-- HISTORIQUE -->
  <ion-card class="history-card ion-padding">
    <ion-item button lines="none" (click)="toggleReservations()">
      <ion-icon slot="start" name="time-outline"></ion-icon>
      <ion-label>
        {{ showReservations ? 'Masquer historique' : 'Afficher historique' }}
      </ion-label>
    </ion-item>

    <ion-list *ngIf="showReservations">
      <ion-item *ngFor="let r of reservations" class="history-item">
        <ion-label>
          <h2>{{ r.VilleDepart }} ➜ {{ r.VilleArrivee }}</h2>
          <p><ion-icon name="calendar-outline"></ion-icon> {{ r.DateDepart }}</p>
          <p><ion-icon name="star-outline"></ion-icon> {{ r.typeReservation }}</p>
          <p><ion-icon name="cash-outline"></ion-icon> {{ r.montant }} FCFA</p>

        </ion-label>

        <p>Date réservation : {{ r.DateReservation}}</p> <br> <br>
        <p> Status :<strong [style.color]="r.status === 'valider' ? 'green' : 'orange'"> {{ r.status }} </strong> </p>

        <ion-button fill="clear" color="warning" (click)="editReservation(r)">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>

        <ion-button fill="clear" color="danger" (click)="deleteReservation(r.id)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-button (click)="navigateToCreateNewUser()" expand="full">
    Créer un utilisateur
  </ion-button>
</ion-content>