#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.position{
  position:absolute;
  top:20px;
  left:30px;
  width:100px;
  height:auto;
  object-fit: cover;
  border-radius: 50%;
  }
.droite{
  position:absolute;
  top:20px;
  right:30px;
  width:100px;
  height:auto;
  object-fit: cover;
  border-radius: 50%;
  }
.cool{
  color: rgb(25, 25, 27);
  padding:25px;
  }


home{
  width:300px;
  height:200px;
  }
.person{
  width:300px;
  height:200px;
  }
.bien{
  color:white;
  }
.rectangle {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  margin: 8px;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.image{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  animation: scroll-left 6s linear infinite;
  }
@keyframes image {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-300%);
  }
}
ion-content {
  --background:hsl(200, 43%, 99%);

  }
.icon-container {
  padding: 75px;
  border-radius: 10px;
  box-shadow: 0 10px 29px rgba(0, 0, 0, 0.1);
  height: 110px;
  display: flex;
  justify-content: center;
  transition: transform 0.2;
  background: white;
  }
.reservation-color {
  background: #e3f2fd;
  color:#2196f3;
  }
  ion-icon{
    color: #007BFF;
  }
.home-colis {
color: #f9f9f9;
  }

.icon-container:active{
  transform: scale(0.95);
  }
.scroll-text {
  display: inline-block;
  white-space: nowrap;
  //overflow: hidden;
  width: 100%;
  text-align: center;
  animation: scroll-left 6s linear infinite;
}
@keyframes scroll-left {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-300%);
  }
}
.marque-title{
  color: rgb(17, 17, 17);
  }
.cadre{
  background: linear-gradient(135deg, blue, blue, blue);
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  padding-top:10px;
  }


#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.blue-toolbar { --background: blue; 
               --color: white; }
.marque-title { background: linear-gradient(135deg,#2196f3, #2196f3); 
  color: #fff; 
   padding: 10px; border-radius: 12px; 
   text-align: center; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); h2 { margin: 10px 10px; font-weight: bold; font-size: 1.4rem; letter-spacing: 1px; } 
   ion-icon { color: #ffd700; 
     margin-right: 8px; vertical-align: middle; } }