* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Fond global */
ion-content {
  --background: linear-gradient(to bottom right, #3880ff, white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.menu-card {
  text-align: center;
  border-radius: 18px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  margin-bottom: 15px;
  --background: transparent;
}

.menu-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.menu-card ion-icon {
  font-size: 48px;
  color: var(--ion-color-primary);
  margin-bottom: 12px;
}

p {
  color: white;
}

.menu-card h2 {
  color: #3880ff;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 6px;
}

.menu-card p {
  font-size: 14px;
  color: white;
}